/* ---------------------------------------------------- */
/*		Basic Elements
/* ---------------------------------------------------- */

body {
	background: #ebe9e5 url(/sites/all/themes/ncsn/images/top-shine.png) repeat-x;
	color: #5e5c5c;
	font: 11px/1.5 Arial,"Helvetica Neue",Helvetica,sans-serif;
}

a {
	color: blue;
	text-decoration: underline;
}

	a:hover { color: #5e5c5c; }

hr {
	background: #fff;
	color: #fff;
	border: 0;
	border-bottom: 1px solid #e3e1d9;
	height: 2px;
}
	/* Webkit Fix */
	@media screen and (-webkit-min-device-pixel-ratio:0){hr {height: 1px;}}

dl { margin: 0 0 10px; }
	
	dt {
		float: left;
		font-weight: bold;
		margin-right: 3px;
	}
	
		dd { margin: 0 0 1px; }

/* ---------------------------------------------------- */
/*		Generic Classes
/* ---------------------------------------------------- */

.white { color: white; }

.red { color: red; }

.green { color: green; }

.align-center { margin: 0 auto; text-align: center; }

.align-left { float: left; text-align: left; }

.align-right { float: right; text-align: right; }

/* ---------------------------------------------------- */
/*		Misc Classes
/* ---------------------------------------------------- */

.container {
	margin: 0 auto;
	position: relative;
	width: 1030px;
}

.zoom a {
	float: left;
	position: relative;
}

	.zoom a span {
		background: url(/sites/all/themes/ncsn/images/enlarge-icon.png) no-repeat;
		bottom: 7px;
		display: none;
		height: 47px;
		margin: 0 25px 19px 0;
		right: 7px;
		position: absolute;
		width: 57px;
	}

		.zoom.align-right a span { margin: 0 0 19px 15px; }
		.zoom.align-left a span { margin: 0 15px 19px 0; }
	
hr.full {
	margSN

	margin-right: -20px;
}

ul.arrow { list-style: none; }

	ul.arrow li { margin: 0; }
	
		ul.arrow li a {
			background: url(/sites/all/themes/ncsn/images/categories-arrow.png) no-repeat 0 5px;
			display: block;
			padding: 0 0 0 12px;
		}

dl.horizontal dd {
	float: left;
	margin: 0 5px 0 0;
}

	dd .separator { font-weight: bold; }

/* ---------------------------------------------------- */
/*		Forms
/* ---------------------------------------------------- */

.form .input {
	background: #f9f9f9 url(/sites/all/themes/ncsn/images/input-bg.png) repeat-x;
	color: #77746E;
	border: 1px solid #d9d9d9;
	font: 11px/1.7 Arial,Helvetica,sans-serif;
	padding: 8px 10px;
}

.form textarea.input { background: #f9f9f9 url(/sites/all/themes/ncsn/images/textarea-bg.png) repeat-x; }

	.form input:hover, .form input:focus, .form textarea:hover, .form textarea:focus { color: #5c5c5c; }

	.form .placeholder {
		color: #adacab !important;
		font-style: italic !important;
	}

.form .submit {
	background: #f3f3f3 url(/sites/all/themes/ncsn/images/button-bg.png);
	border: 1px solid #e1dddd;
	color: #797474;
	cursor: pointer;
	float: right;
	font: bold 11px/31px Arial,Helvetica,sans-serif;
	height: 31px;
	padding: 0 20px;
}
	
	.form .submit:hover { background: #f3f3f3 url(/sites/all/themes/ncsn/images/button-bg-hover.png); }

#comment-form  {
	color: #77746e;
	padding: 15px 20px;
}
	
	#comment-form .input_block {
		float: left;
		margin-right: 60px;
		width: 214px;
	}
	
		#comment-form .input_block input {
			height: 15px;
			padding: 5px 6px;
			width: 200px;
		}
		
		#comment-form .input_block p, #comment-form .textarea_block p { margin-bottom: 20px; }

		#comment-form .input_block label, #comment-form .textarea_block label {
			cursor: pointer;
			display: block;
			font-weight: bold;
			margin: 0 2px 3px;
		}

			#comment-form .input_block label span, #comment-form .textarea_block label span { font-weight: normal; }

	#comment-form .textarea_block {
		float: right;
		margin-top: -5px;
		width: 384px;
	}

		#comment-form .textarea_block textarea {
			height: 150px;
			margin-bottom: -5px;
			padding: 5px 6px;
			width: 370px;
		}
		
		#comment-form .textarea_block label { margin: 0 2px 2px; }

/* ---------------------------------------------------- */
/*		Header
/* ---------------------------------------------------- */

#header-top {
	border-bottom: 1px solid #e3e1d9;
	color: #858278;
	height: 45px;
	line-height: 31px;
	overflow: hidden;
}

		#header-top .rss-icon {
			position: absolute;
			right: 19px;
			top: 0;
		}
		
		#header-top .member-login {text-decoration:none; color:#858278; font-family:Georgia; font-weight:300; font-size:18px; margin-top:2px;}

		#header-top .left { float: left; padding-top:7px; margin-left:-30px;}
		
		#header-top .right {
			float: right;
			padding-right: 5px;
			padding-top:7px;
		}

		#header-top .right-logged-in {
			float: right;
			padding-right: 5px;
			padding-top:7px;
			margin:-50px 0 0 0;
		}


		
		#header-top img {height:40px; width:40px; margin:3px 10px 0 0;}
	
			#header-top a { text-decoration: none; color:#3845A8;  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
			}

	
				#header-top a:hover { /*text-decoration: underline;*/ color:#404040; }

#header {
	border-top: 1px solid #fff;
	height: 260px;
	overflow: hidden;
	background-color:#e9f7fe;
}

	#logo {
		float: left;
		margin: 30px 0 0 0;
	}
	
	#header-ads {
		height:88px;
		float: right;
		margin:90px 130px 0 -50px ;
		position:relative;
		z-index:100;
	}
	
	#header-ads img {
	position:relative;
	z-index:100;}
	
/* ---------------------------------------------------- */
/*		Navigation & Search
/* ---------------------------------------------------- */

#nav {
	background: #fafafa url(/sites/all/themes/ncsn/images/nav-bg.png) repeat-x;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #e3e1d9;
	height: 39px;
	position: relative;
	z-index: 999;
}

	#nav ul {
		float: left;
		list-style: none;
		margin: 0 0 0 0;
		position: relative;
		z-index: 999;
	}

		#nav li {
			float: left;
			margin: 0 5px 0 0;
			position: relative;
		}
	
			#nav li.active { margin: 0 15px 0 10px; }
			
			#nav li:first-child { margin-left: 0; }
		
			#nav li a {
				color: #77746e;
				display: block;
				font-size: 12px;
				font-weight: bold;
				height: 20px;
				padding:11px 15px 7px 15px;
				text-decoration: none;
 -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
			}
			
				#nav li.active a, #nav li a:hover, #nav li.hover a {
					background:#E3E1D9;
					color: #404040;
					display: block;
padding:11px 15px 7px 15px;
									}
				
			/** Dropdowns **/

			#nav ul li:hover > ul { display: block; }

			#nav ul ul {
				background: url('../php/rgba.php/rgba(156, 22, 62, 0.8)') repeat; /* For IE */
				background:  #3845A8;
				opacity: 0.8;
				display: none;
				left: 0;
				list-style: none;
				margin: 0;
				padding: 0;
				position: absolute;
				top: 30px;
				width: 175px;
				z-index: 999;
			}

				#nav ul ul li {
					display: block;
					float: none;
					height: auto;
					margin: 0;
					padding: 0;
				}

					#nav ul ul li a, #nav li.active ul ul li a {
						background: url(/sites/all/themes/ncsn/images/nav-arrow.png) no-repeat 12px 12px !important;
						color: #fff;
						display: block;
						font-size: 11px;
						font-weight: normal;
						height: auto;
						line-height: 20px;
						min-height: 20px;
						padding: 5px 5px 5px 26px;
					}

						#nav ul ul li a:hover, #nav li.active ul ul li a:hover {
							background:#e9f7fe !important; /* For IE */
							background: #e9f7fe!important;
							color: #333 !important;
							font-weight: bold !important;
						}

				/* Submenu */

				#nav ul ul ul {
					left: 155px;
					top: 5px;
				}

	#search {
		float: right;
		margin: 7px 0 0 0;
	}
	
		#search .input {
			background: #f2f2f2 url(/sites/all/themes/ncsn/images/input-bg.png) repeat-x;
			border: 1px solid #e0d9d9;
			color: #b2a8a8;
			font: 11px/1.7 Arial,Helvetica,sans-serif;
			height: 15px;
			padding: 5px 8px 5px;
			width: 230px;
		}
		
			#search .input:focus {
				color: #77746E;
				border: 1px solid #c7c1c1;
			}
		
		#search .submit {
			-webkit-border-radius: 3px;
			background: #3845A8;
			border: 0;
			color: #fff;
			cursor: pointer;
			font: 12px/1.7 Arial,Helvetica,sans-serif;
			font-weight: bold;
			height: 22px;
			margin-left: 6px;
			padding: 0 8px 2px;
			
		}
		
#nav-shadow {
	background: url(/sites/all/themes/ncsn/images/nav-shadow.png) repeat-x;
	height: 135px;
	margin-bottom: -105px;
}

/* ---------------------------------------------------- */
/*		Slider
/* ---------------------------------------------------- */

#slider {
	margin: -20px 0 20px;
	position: relative;
	z-index: 1;
	width:100%;
	background: #e9f7fe;
}

	#slider ul {
		background:  #e9f7fe;
		list-style: none;
		width: 1030px;
		margin:0 auto;
	}

		#slider li {
			height: 270px;
			margin: 0;
			padding: 9px;
			position: relative;
		}
		
			#slider li .slide-info {
				background: url('../php/rgba.php/rgba(28, 28, 27, 0.6)') repeat; /* For IE */
				background: rgba(28,28,27,0.6);
				bottom: 19px;
				color: #fff;
				left: 19px;
				padding: 15px 10px;
				position: absolute;
				width: 265px;
			}
			
				#slider li .slide-info h2 {
					letter-spacing: -1px;
					line-height: 29px;
					margin: 0;
				}
				
					#slider li .slide-info h2 a {
						color: #fff;
						text-decoration: none;
					}

						#slider li .slide-info h2 a:hover { text-decoration: underline; }
					
				#slider li .slide-info .meta { margin-bottom:12px; }
				
				#slider li .slide-info .meta, #slider li .slide-info .meta a { color: #dfdfdf; }

					#slider li .slide-info .meta a { text-decoration: underline; }

						#slider li .slide-info .meta a:hover { color: #b70e4f; }

				#slider li .slide-info .comments-count {
					color: #bfbdbd;
					float: left;
					font-weight: bold;
					margin-top:5px;
					text-decoration: none;
				}

					#slider li .slide-info .comments-count:hover { text-decoration: underline; }

				#slider li .slide-info .slider-button {
					background: #3845A8;
					background: #3845A8;
					color: #fff;
					float: right;
					font-weight: bold;
					height: 10px;
					padding: 5px 10px 10px;
					text-decoration: none;
				}
	
					#slider li .slide-info .slider-button:hover { text-decoration: underline; }
					
	#sliderNav {
		bottom: 45px;
		position:absolute;
		right: 129px;
		z-index:99;
	}

		#sliderNav a {
			background: url('../php/rgba.php/rgba(28, 28, 27, 0.6)') repeat; /* For IE */
			background: rgba(28,28,27,0.6);
			color: #fff;
			display: block;
			float: left;
			font-size: 12px;
			font-weight: bold;
			margin-left: 6px;
			padding: 3px 8px 3px 9px;
			text-decoration: none;
		}

			#sliderNav a.activeSlide {
				background: #3845A8;
				background: #3845A8;
			}

/* ---------------------------------------------------- */
/*		Content
/* ---------------------------------------------------- */

#content {
	margin: 0;
	position: relative;
	z-index: 1;
}

	#content .ad { margin-bottom: 30px; }

	#content .box {
		background: #f8f7f6;
		border: 1px solid #d8d8d8;
		margin-bottom: 30px;
	}

		#content .box-header {
			background: #f2f2f2 url(/sites/all/themes/ncsn/images/box-header-bg.png) repeat-x;
			height: 43px;
			line-height: 43px;
			padding: 0 20px;
		}
		
			#content .box-header h6 {
				display: inline;
				font-size: 12px;
				margin: 0;
			}

		#content .box-footer {
			background: #f2f2f2 url(/sites/all/themes/ncsn/images/box-footer-bg.png) repeat-x;
			height: 13px;
			padding: 17px 20px;
		}

/* ---------------------------------------------------- */
/*		Main
/* ---------------------------------------------------- */

#main {
	float: left;
	margin-right: 30px;
	width: 700px;
}


#main p {
	font-size:16px;
	font-family:'Helvetica Neue', Helvetica, Arial;
	line-height: 170%;}


#main ul {font-size:16px;
	font-family:'Helvetica Neue', Helvetica, Arial;
	line-height: 170%;}

#main ul li {padding:10px 0;}
	/*#main .button {
		background: #f3f3f3 url(/sites/all/themes/ncsn/images/button-bg.png) repeat-x;
		border: 1px solid #e1dddd;
		color: #797474;
		font-weight: bold;
		height: 10px;
		padding: 7px 15px;
		text-decoration: none !important;
	}
	
	#main .button:hover { background: #f3f3f3 url(/sites/all/themes/ncsn/images/button-bg-hover.png) repeat-x; }*/

	#main .entry {
		background: #f8f7f6;
		border: 1px solid #d8d8d8;
		margin-bottom: 30px;
		overflow:hidden;
		width: 100%;
	}
	
		#main .entry-header {
			border-bottom: 1px solid #e3e1d9;
			overflow: hidden;
			padding: 5px 20px 10px;
			position: relative;
		}
	
		#main .entry-footer {
			border-top: 1px solid #e3e1d9;
			overflow:hidden;
			padding: 15px 20px;
		}
	
			#main .entry-header a { text-decoration: none; }
	
				#main .entry-header a:hover { text-decoration: underline; }
	
			#main .entry-header .meta, #main .entry-header .title  {
				float: left;
				width: 540px;
			}
	
			#main .entry-header .title {
				letter-spacing: -0.2px;
				margin: 0;
			}
	
				#main .entry-header .title, #main .entry-header .title a { color: #4e4d4a; }
	
			#main .entry-header .meta { margin: 0 0 0 2px; }
	
				#main .entry-header .meta a {
					text-decoration: underline;
					color:#3845A8;
				}
	
				#main .collapsible .entry-header .meta, #main .collapsible .entry-header .title { width: 435px; }
	
			#main .entry-header .button {
				display: block;
				padding: 7px 15px 13px;
				position: absolute;
				right: 20px;
				top: 15px;
			}
	
		#main .entry-content {
			border-top: 1px solid #fff;
			overflow: hidden;
			padding: 15px 20px 15px;
		}
		
		
		#main .entry-content a{
			/*color: #3845ab;*/
		}
	
			#main .entry-image, #main .entry-title-image {
				border: 4px solid #333;
				float: left;
				margin: 0 25px 0 0;
			}
	
				#main .align-right .entry-image, #main .align-right.entry-image {
					margin: 0 0 15px 15px;
				}
				#main .align-left .entry-image, #main .align-left.entry-image {
					margin: 0 15px 15px 0;
				}
	
				#main .collapsible .zoom.align-right a span, #main .collapsible .zoom.align-left a span { margin-bottom: 14px; }
	
			#main .entry-title-image { margin: 6px 20px 0 0; }
	
			#main .entry-content p { margin-bottom: 10px; }
	
				#main .single .entry-content p, #main .collapsible .entry-content p { margin-bottom: 15px; }
	
			#main .entry-links, #comments .comment-links {
				list-style: none;
				margin-top: -5px;
			}
	
				#main .entry-links li, #comments .comment-links li {
					float: left;
					font-weight: bold;
					margin: 0;
				}
	
					#main .entry-links li a, #main .entry-links li .separator,
					#comments .comment-links li a, #comments .comment-links  li .separator {
						color: #878080;
						text-decoration: none;
					}
	
						#main .entry-links li a:hover, #comments .comment-links li a:hover {
							color: #e9f7fe;
							text-decoration: underline;
						}
	
					#main .entry-links li .separator, #comments .comment-links li .separator { margin: 0 7px 0 4px; }
	
	/** Single Entry Post **/
	
	#main .entry.single .post-rating {
		color: #797474;
		float: right;
		margin-top:-25px;
		text-align: center;
	}

		#main .entry.single .post-rating span.on, #main .entry.single .post-rating span.off {
			display: inline-block;
			height: 14px;
			width: 14px;
		}
		
		#main .entry.single .post-rating span.on { background: url(/sites/all/themes/ncsn/images/rating-star-on.png) no-repeat; }
		#main .entry.single .post-rating span.off { background: url(/sites/all/themes/ncsn/images/rating-star-off.png) no-repeat; }
		
		#main .entry.single .post-rating p { margin: -2px 0 0; }

	#main .entry.single .entry-image {
		float: none;
		margin-bottom: 15px;
	}
	
	#content .entry .box-footer { color: #878080; }
	
		#content .entry .box-footer ul {
			list-style: none;
			margin: 0;
			overflow: hidden;
		}
		
			#content .entry .box-footer li {
				float: left;
				margin: 0;
			}
			
				#content .entry .box-footer li a { color: #878080; }
	
					#content .entry .box-footer li a:hover { color: #e9f7fe; }

		#content .entry .box-footer .social-links { margin: -7px 0 0; }
	
			#content .entry .box-footer .social-links li { margin-left: 10px; }
			
	#content .author-bio {
		background: #f9f9f9;
		border: 1px solid #d8d8d8;
		color: #52504d;
		margin-bottom: 30px;
		overflow: hidden;
		padding: 15px 20px;
	}
	
		#content .author-bio .avatar {
			background:#fff;
			border: 1px solid #c1c1c1;
			float: left;
			margin: 0 25px 0 0;
			padding: 4px;
		}
		
		#content .author-bio h4 {
			float:left;
			margin: 0 0 2px;
			width:523px;
		}
	
		#content .author-bio p { margin: 10px; }
		
		#content .author-bio .button {
			display: block;
			float: right;
			padding: 7px 15px 13px;
		}
		
/* ---------------------------------------------------- */
/*		Comments
/* ---------------------------------------------------- */

#comments {
	background: #f9f9f9;
	border: 1px solid #d8d8d8;
	color: #52504d;
	margin-bottom: 15px;
	overflow: hidden;
}

	#comments .box-header {
		color: #77746e;
		overflow:hidden;
		padding: 0 20px;
	}

		#comments .comments-count, #comments .comments-count em {
			background: url(/sites/all/themes/ncsn/images/comments-count-bg-right.png) no-repeat;
			color: #fff;
			display: block;
			float: left;
			font-style: normal;
			font-size: 12px;
			font-weight: bold;
			height: 28px;
			line-height: 22px;
			margin: 10px 5px 0 28px;
			padding: 0 10px 0 3px;
			position: relative;
		}

			#comments .comments-count em {
.btn.danger,
.alert-message.danger,
.btn.danger:hover,
.alert-message.danger:hover,
.btn.error,
.alert-message.error,
.btn.error:hover,
.alert-message.error:hover,
.btn.success,
.alert-message.success,
.btn.success:hover,
.alert-message.success:hover,
.btn.info,
.alert-message.info,
.btn.info:hover,
.alert-message.info:hover {
  color: #ffffff;
}
.btn.danger,
.alert-message.danger,
.btn.error,
.alert-message.error {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.success, .alert-message.success {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.info, .alert-message.info {
  background-color: #339bb9;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #339bb9 #339bb9 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn:focus {
  outline: 1px dotted #666;
}
.btn.primary {
  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn[disabled] {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.large {
  font-size: 15px;
  line-height: normal;
  padding: 9px 14px 9px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.small {
  padding: 7px 9px 7px;
  font-size: 11px;
}
				background: url(/sites/all/themes/ncsn/images/comments-count-bg-left.png) no-repeat;
				margin: 0 0 0 -29px;;
				padding: 0 0 0 12px;
			}

	#comments .comments-list {
		list-style: none;
		margin: 0;
		overflow:hidden;
		padding: 0 20px 5px;
		width:658px;
	}

		#comments .comments-list .comment {
			border-bottom: 1px solid #e3e1d9;
			border-top: 1px solid #fff;
			float:left;
			margin: 0;
			padding: 20px 0 15px;
		}

			#comments .comments-list .comment:first-child { border-top: none; }
			#comments .comments-list .comment:last-child { border-bottom: none; }

			#comments .comments-list .comment .comment-avatar {
				float:left;
				width: 70px;
			}

				#comments .comments-list .comment .comment-avatar .avatar {
					background: #fff;
					border:1px solid #c1c1c1;
					padding:4px;
				}

			#comments .comments-list .comment .comment-body {
				float:right;
				margin-left:30px;
				width:558px;
			}

				#comments .comments-list .comment .comment-meta {
					color: #52504d;
					margin-bottom: 4px;
				}

				#comments .comments-list .comment .comment-meta a {
					color: #52504d;
					font-weight: bold;
					text-decoration: none;
				}
					#comments .comments-list .comment .comment-meta a:hover { text-decoration: underline; }

				#comments .comments-list .comment .comment-meta .date { font-style: italic; }

				#comments .comments-list .comment .comment-links {
					float: right;
					margin-bottom: 0;
				}

#respond { overflow: hidden; }

	#respond .box-header h6 { color: #393938; }

		#respond .box-header h6 span { color: #b3244b; }

/* ---------------------------------------------------- */
/*		Pagination
/* ---------------------------------------------------- */

#main .pagination {
	list-style: none;
	margin-bottom: 30px;
	overflow:hidden;
}

	#main .pagination li {
		background: #f3f3f3 url(/sites/all/themes/ncsn/images/pagination-bg.png) repeat-x;
		border: 1px solid #e1dddd;
		float: left;
		margin: 0 8px 0 0;
	}
	
		#main .pagination li.active, #main .pagination li.active:hover {
			background: #f3f3f3 url(/sites/all/themes/ncsn/images/pagination-active-bg.png) repeat-x;
			border: 1px solid #9f1840;
		}

		#main .pagination li a {
			color: #939191;
			display: block;
			font-weight: bold;
			height: 27px;
			line-height: 27px;
			text-decoration: none;
			padding: 0 8px;
		}
	
			#main .pagination li.prev a {
				background: url(/sites/all/themes/ncsn/images/pagination-prev-arrows.png) no-repeat 8px 11px;
				padding: 0 14px 0 24px;
			}
	
			#main .pagination li.next a {
				background: url(/sites/all/themes/ncsn/images/pagination-next-arrows.png) no-repeat 47px 11px;
				padding: 0 24px 0 14px;
			}

			#main .pagination li.active a, #main .pagination li.active:hover a {
				color: #fff;
			}

			#main .pagination li:hover {
				background: url(/sites/all/themes/ncsn/images/pagination-bg-hover.png) repeat-x;
			}
			
				#main .pagination li:hover a {
					color: #777;
				}

/* ---------------------------------------------------- */
/*		Trips Viewer
/* ---------------------------------------------------- */

#trips-viewer {
	overflow: hidden;
	position: relative;
	height: 740px;
}

#trips-views a {color:#3845A8;}


	#trips-viewer .box-header .tabs-nav {
		float: left;
		list-style: none;
		margin: 0 -5px;
		overflow: hidden;
	}

		#trips-viewer .box-header .tabs-nav li {
			float: left;
			margin: 0 20px 0 0;
		}

			#trips-viewer .box-header .tabs-nav li a {
				color: #77746e;
				font-size: 12px;
				font-weight: bold;
				height: 10px;
				padding: 6px 12px;
				text-decoration: none;
			}

				#trips-viewer .box-header .tabs-nav li.active a, #trips-viewer .box-header .tabs-nav li a:hover {
					background: #3845A8;
					color: #fff;
					font-size: 12px;
					-webkit-border-radius:3px;
				}
	
		#trips-viewer .box-header .rss img {
			border: 0;
			float: right;
			margin: 18px 0px 0 0;
		}

	#trips-viewer img { border: 4px solid #333; }
	
	#trips-viewer .tab-content { width: 698px !important; }

	#trips-viewer .trips-nav  {
		float: right;
		list-style:none;
		margin: -2px 0 0;
		width: 397px;
	}

		#trips-viewer .trips-nav li {
			background: #eeede9;
			border-bottom:1px solid #E3E1D9;
			border-left:1px solid #fff;
			border-top:1px solid #fff;
			margin:0;
		}

			#trips-viewer .trips-nav li .content {
				border-left: 1px solid #E3E1D9;
				padding: 12px 10px 12px 20px;
				overflow: hidden;
			}

				#trips-viewer .trips-nav li.activeSlide .content {
					border-left: 1px solid #F8F7F6;
				}

			#trips-viewer .trips-nav li.activeSlide {
				background: none;
				border-left:1px solid #F8F7F6;
			}

			#trips-viewer .trips-nav li:hover {
				background: none;
				cursor: pointer;
			}

			#trips-viewer .trips-nav li:first-child { border-top: none; }

			#trips-viewer .trips-nav li:last-child { border-bottom: none; }

			#trips-viewer .trips-nav li img {
				float:left;
				margin-right:10px;
			}

			#trips-viewer .trips-nav li .title { text-decoration:none; }

				#trips-viewer .trips-nav li .title h6 {
					color:#878786;
					display:block;
					margin-bottom:2px;
				}

					#trips-viewer .trips-nav li.activeSlide .title h6, #trips-viewer .trips-nav li:hover .title h6 {
						color:#4e4d4a;
					}

			#trips-viewer .trips-nav li .meta, #trips-viewer .trips-nav li .meta a {
				color:#3845A8;
				margin-bottom: 10px;
			}

				#trips-viewer .trips-nav li.activeSlide .meta, #trips-viewer .trips-nav li.activeSlide .meta a:hover { color:#4b4a46; }

				#trips-viewer .trips-nav li.activeSlide .meta a, #trips-viewer .trips-nav li .meta a:hover { color:#3845A8; }

			#trips-viewer .trips-nav li .links {
				list-style: none;
				margin:0;
			}

				#trips-viewer .trips-nav li .links li {
					background: none;
					border: none;
					float:left;
					font-weight:bold;
					margin:0;
					padding: 0;
				}
					#trips-viewer .trips-nav li .links li a, #trips-viewer .trips-nav li .links li .separator {
						color:#a1a1a0;
						text-decoration:none;
					}

						#trips-viewer .trips-nav li.active .links li a, #trips-viewer .trips-nav li.active .links li .separator { color:#767676; }

						#trips-viewer .trips-nav li .links li a:hover {
							color:#e9f7fe;
							text-decoration:underline;
						}

					#trips-viewer .trips-nav li .links li .separator { margin:0 7px 0 4px; }

	#trips-viewer .trips-container  {
		float: left;
		margin-top: -2px;
		padding: 15px;
		width: 270px;
	}
	
		#trips-viewer .trips-container ul {
			list-style: none;
			margin: 0;
		}
	
			#trips-viewer .trip-content { margin: 0 0 30px; }
			
			.js #trips-viewer .trip-content {
				margin: 0;
				width: 250px;
			}
	
				#trips-viewer .trip-content a { text-decoration: none; }
	
					#trips-viewer .trip-content a:hover { text-decoration: underline; }
					
				#trips-viewer .trip-content img { margin-bottom: 4px; }
	
				#trips-viewer .trip-content .title {
					color: #4e4d4a;
					letter-spacing: -0.2px;
					line-height: 22px;
					margin-bottom: 2px;
				}
				
				#trips-viewer .trip-content .title:hover { text-decoration: underline; }
	
				#trips-viewer .trip-content .meta {
					color: #72716f;
					margin-bottom: 10px;
				}
	
					#trips-viewer .trip-content .meta a { text-decoration: underline; }

				#trips-viewer .trip-content p {
					color: #52504d;
					margin-bottom: 10px;
				}
	
				#trips-viewer .trip-content p a { text-decoration: underline; color:#3845A8;}
				
					#trips-viewer .trip-content .sent-to-friend {
						float: left;
						font-weight: bold;
						margin-top: 7px;
						color:#3845A8;
					}
	
				#trips-viewer .trip-content .button {
					display: block;
					float: right;
					padding: 6px 12px 12px;
					text-decoration: none;
				}

/* ---------------------------------------------------- */
/*		Search
/* ---------------------------------------------------- */

#main .search-result {
	margin: 0 0 10px;
	padding: 5px 20px;
}

	#main .search-result h2 { margin: 0; }

	#main .search-result p { margin: 0 0 10px; }

/* ---------------------------------------------------- */
/*		Archives
/* ---------------------------------------------------- */

#archives {
	margin: 0 0 10px !important;
	padding: 15px 20px;
}

	#archives.closed { padding: 15px 20px 10px; }

	#archives h6 {
		font-size: 12px;
		margin-bottom: 5px;
	}

	#archives .archive-trigger {
		cursor: pointer;
		float: right;
		margin-top: -2px;
	}

	#archives ul {
		list-style: none;
		margin-bottom: 0;
		margin-top: -10px;
	}

	#archives ul, #archives h6.list-title {
		float: left;
		margin-right: 40px;
		width: 192px;
	}

		#archives ul.last, #archives h6.last { margin-right: 0; }
		#archives h6.last { width: 165px; }

		#archives li {
			background: url(/sites/all/themes/ncsn/images/categories-arrow.png) no-repeat 0 5px;
			margin: 0 0 10px;
		}

			#archives li a {
				color: #72706a;
				margin-left: 8px;
				padding: 3px 5px;
				text-decoration: none;
			}

				#archives li a:hover {
					background: #ebebeb;
					border: 1px solid #cecdcc;
					color: #b3244b;
					font-weight: bold;
				}

/* ---------------------------------------------------- */
/*		News
/* ---------------------------------------------------- */

#main .entry .collapsible-content { position: relative !important; }

#main .button .collapse-arrow-up { margin-left: 8px; }

/* ---------------------------------------------------- */
/*		Sidebar
/* ---------------------------------------------------- */

#sidebar {
	float: right;
	width: 300px;
}

	#sidebar h6 {
		font-size: 12px;
		font-weight: bold;
	}
	
	#sidebar .ad-bar { margin-left: 2px; }
	
	#sidebar .ads { padding: 12px 16px; }
	
		#sidebar .ads ul {
			list-style: none;
			margin: 0 0 -10px;
			overflow: hidden;
		}
		
			#sidebar .ads li {
				float: left;
				margin: 0;
				padding: 0 15px 10px 0;
			}
			
				#sidebar .ads li.even { padding: 0 0 10px; }
				
		#sidebar .ads p { margin: 0 0 -5px; }
		
			#sidebar .ads a {
				color: #9b9b9b;
				text-decoration: underline;
				text-align: center;
			}

				#sidebar .ads a:hover {
					color: #e9f7fe;
				}
				
	#recent-tabs { }
	
		#recent-tabs .nav {
			list-style: none;
			margin: 0 -20px;
			overflow: hidden;
		}

			#recent-tabs .nav li {
				float: left;
				margin: 0 10px;
			}

				#recent-tabs .nav li a {
					color: #77746e;
					font-size: 12px;
					font-weight: bold;
					height: 10px;
					padding: 6px 12px;
					text-decoration: none;
				}
				
					#recent-tabs .nav li a.current, #recent-tabs .nav li a:hover {
						background: #3845A8;
						color: #fff;
						font-size: 12px;
						-webkit-border-radius: 3px;
					}
				
		#recent-tabs .list-wrap ul {
			list-style:none;
			margin: 0;
			overflow: hidden;
		}

			#recent-tabs .list-wrap li {
				border-bottom: 1px solid #e3e1d9;
				border-top: 1px solid #fff;
				margin: 0;
				overflow: hidden;
				padding: 12px 10px;
			}
			
				#recent-tabs .list-wrap li:first-child { border-top: none; }
				#recent-tabs .list-wrap li:last-child { border-bottom: none; }

					#recent-tabs .list-wrap li:hover { background: #fafafa; }
			
				#recent-tabs .list-wrap li img {
					
					float: left;
					margin-right: 10px;
				}
				
				#recent-tabs .list-wrap li .title {
					color: #6a6965;
					display:block;
					font-size: 12px;
					font-weight: bold;
					margin-bottom: 10px;
					text-decoration: none;
				}
				
				#recent-tabs .list-wrap li .meta {
					color: #8d8c8a;
					margin: 0;
				}
	
					#recent-tabs .list-wrap li .meta a {
						color: #8d8c8a;
						text-decoration: underline;
					}
				
					#recent-tabs .list-wrap li a:hover { color: #e9f7fe; }
				
	#sidebar .flickr-feed { }

		#sidebar .flickr-feed .box-header { padding: 0 10px; }

			#sidebar .flickr-feed .flickr-icon, #sidebar .flickr-feed h6 { display: inline; }

			#sidebar .flickr-feed .flickr-icon {
				float: left;
				margin: 15px 8px 0 0;
			}
			
		#sidebar .flickr-feed ul {
			list-style: none;
			overflow: hidden;
			margin: 0;
			padding: 0 0 15px 10px;
		}
		
			#sidebar .flickr-feed li {
				float:left;
				margin: 0;
			}
			
				#sidebar .flickr-feed .flickr-image {
					border: 4px solid #333;
					margin: 13px 13px 0  0;
				}

	#sidebar .tags { }

		#sidebar .tags .box-header { padding: 0 10px; }

		#sidebar .tags ul {
			list-style: none;
			overflow: hidden;
			margin: 0;
			padding: 10px;
		}

			#sidebar .tags li {
				float: left;
				margin: 0 0 7px;
			}

				#sidebar .tags li a {
					color: #8f8f8f;
					padding: 3px 8px;
					text-decoration: none;
				}
	
					#sidebar .tags li a:hover {
						background: #ebebeb;
						border: 1px solid #d8d8d8;
						color: #3845A8;
						font-weight: bold;
					}
	
/* ---------------------------------------------------- */
/*		Footer
/* ---------------------------------------------------- */

#footer {
	background: #e1dfdb url(/sites/all/themes/ncsn/images/footer-bg.png) repeat-x;
	color: #72706a;
	overflow:hidden;
	padding: 35px 0 60px;
}

	#footer .footer-logo {
		position: absolute;
		right: 0;
		top: 0;
	}

	#footer a { color: #72706a; }

		#footer a:hover { color: #e9f7fe; }
	
	#footer p a {
		color: #72706a;
		text-decoration: none;
		 -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
	}
		#footer p a:hover { color: #999; text-decoration:none;}

	#footer h4 {
		color: #565551;
		margin-bottom: 10px;
	}
	
		#footer h4 span { color: #e9f7fe; }

	#footer .one-half, #footer .one-third, #footer .two-third, #footer .one-fourth,
	#footer .three-fourth, #footer .one-fifth, #footer .two-fifth, #footer .three-fifth {
		float: left;
		margin-right: 80px;
	}
	
	#footer .one-half { width: 475px; }
	#footer .one-third { width: 290px; }
		#footer .two-third { width: 650px; }
	#footer .one-fourth { width: 197px; }
		#footer .three-fourth { width: 753px; }
	#footer .one-fifth { width: 142px; }
		#footer .two-fifth { width: 364px; }
			#footer .three-fifth { width: 586px; }

	#footer .one-half.last, #footer .one-third.last, #footer .one-fourth.last, #footer .one-fifth.last,
	#footer .two-third.last, #footer .three-fourth.last, #footer .two-fifth.last, #footer .three-fifth.last { margin-right: 0; }

	#categories {
		list-style: none;
		margin: 0 0 0 4px;
	}

		#categories li { margin: 0 0 10px; }

			#categories li a {
				background: url(/sites/all/themes/ncsn/images/categories-arrow.png) no-repeat 0 5px;
				display: block;
				padding: 0 0 0 12px;
				text-decoration: none;
				 -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
			}
			
				#categories li a:hover {
					
					text-decoration: none;
					color:#999999;
				}

	#latest-tweets { list-style: none; }

		#latest-tweets li { margin: 0; }
		
			#latest-tweets li .user {
				font-weight: bold;
				text-decoration: none;
			}
	
				#latest-tweets li .user:hover { text-decoration: underline; }
	
				#latest-tweets li .tweet { margin: 0 0 10px; }
			
#footer-bottom {
	background: #787878 url(/sites/all/themes/ncsn/images/footer-bottom-bg.png) repeat-x;
	color: #fff;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
}

	#footer-bottom ul {
		list-style: none;
		margin: 0;
	}

		#footer-bottom li {
			float: left;
			margin: 0;
		}

			#footer-bottom li a {
				color: #fff;
				text-decoration: none;
			}
	
				#footer-bottom li a:hover { text-decoration: underline; }

			#footer-bottom li .separator { margin: 0 4px; }
			
			
			
			
			#mc_embed_signup {margin-left:20px; padding:20px;}
			.form-input {font-size:1.2em; padding: 4px 10px; color:#333; font-family:helvetica; border:1px solid #c3c3c3;}
			.form-submit {background-color:#3845A8; color:white; height:30px; width:75px; border:none; margin:15px 0 0 70px; -webkit-border-radius:3px;}
			
			.welcome-box {font-size:1.4em; font-family: 'Helvetica Neue', Helvetica, Arial; line-height:24px;}
			
			
			#title-bar {height:60px; width:1030px; margin:-20px auto 20px auto; background-color:#3845A8; color:white;}
			
			h1.title-bar  {padding:10px 0 0 30px;}
			h1.fancy-title {font-family:Georgia; font-size:28px; font-weight:300; color: #333333;}
			
			
			
			
			
			  .entry {
		background: #f8f7f6;
		border: 1px solid #d8d8d8;
		margin-bottom: 30px;
		overflow:hidden;
		width:480px; float:left; 	}
	
		  .entry-header {
			border-bottom: 1px solid #e3e1d9;
			overflow: hidden;
			padding: 5px 20px 10px;
			position: relative;
		}
	
		  .entry-footer {
			border-top: 1px solid #e3e1d9;
			overflow:hidden;
			padding: 15px 20px;
		}
	
			  .entry-header a { text-decoration: none; }
	
				  .entry-header a:hover { text-decoration: underline; }
	
			  .entry-header .meta,   .entry-header .title  {
				float: left;
				width: 540px;
			}
	
			  .entry-header .title {
				letter-spacing: -0.2px;
				margin: 0;
			}
	
				  .entry-header .title,   .entry-header .title a { color: #4e4d4a; }
	
			  .entry-header .meta { margin: 0 0 0 2px; }
	
				  .entry-header .meta a {
					text-decoration: underline;
					color:#3845A8;
				}
	
				  .collapsible .entry-header .meta,   .collapsible .entry-header .title { width: 435px; }
	
			  .entry-header .button {
				display: block;
				padding: 7px 15px 13px;
				position: absolute;
				right: 20px;
				top: 15px;
			}
	
		  .entry-content {
			border-top: 1px solid #fff;
			overflow: hidden;
			padding: 15px 20px 15px;
		}
		
		
		  .entry-content a{
			color: #3845ab;
		}
	
			  .entry-image,   .entry-title-image {
				border: 4px solid #333;
				float: left;
				margin: 0 25px 0 0;
			}
	
				  .align-right .entry-image,   .align-right.entry-image {
					margin: 0 0 15px 15px;
				}
				  .align-left .entry-image,   .align-left.entry-image {
					margin: 0 15px 15px 0;
				}
	
				  .collapsible .zoom.align-right a span,   .collapsible .zoom.align-left a span { margin-bottom: 14px; }
	
			  .entry-title-image { margin: 6px 20px 0 0; }
	
			  .entry-content p { margin-bottom: 10px; }
	
				  .single .entry-content p,   .collapsible .entry-content p { margin-bottom: 15px; }
	
			  .entry-links, #comments .comment-links {
				list-style: none;
				margin-top: -5px;
			}
	
				  .entry-links li, #comments .comment-links li {
					float: left;
					font-weight: bold;
					margin: 0;
				}
	
					  .entry-links li a,   .entry-links li .separator,
					#comments .comment-links li a, #comments .comment-links  li .separator {
						color: #878080;
						text-decoration: none;
					}
	
						  .entry-links li a:hover, #comments .comment-links li a:hover {
							color: #e9f7fe;
							text-decoration: underline;
						}
	
					  .entry-links li .separator, #comments .comment-links li .separator { margin: 0 7px 0 4px; }



div.breadcrumb {padding-left:20px;}

div.breadcrumb a {font-family:Georgia; font-style:italic; font-weight:200; font-size:14px; color: #4E4D4A; text-decoration:none;}


#forum tr td.forum {
 /* padding-left: 35px;*/
 padding:none;
}
#forum .name {
  font-size: 1.083em;
}
#forum .description {
  font-size: 1em;
}

#forum-list-2 .name {
padding-left:17px;}


/* ------------------ Table Styles ------------------ */

table {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 10px 0;
  width: 100%;
}
table table {
  font-size: 1em;
}
#footer-wrapper table {
  font-size: 1em;
}
table tr th {
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  border-bottom-style: none;
}
table tr th,
table tr th a,
table tr th a:hover {
  color: #FFF;
  font-weight: bold;
}
table tbody tr th {
  vertical-align: top;
}
tr td,
tr th {
  padding: 4px 9px;
  border: 1px solid #fff;
  text-align: left; /* LTR */
}



/*
* Infomration Page
*/

.mainContent33 {
	width:230px;
	float:left;
	margin:30px 7px 0 7px;
	border-top:8px #E0E0E0 solid;
	height:350px;
}

.mainContent33:hover {
	width:230px;
	float:left;
	margin:30px 7px 0 7px;
	border-top:8px #3845A8 solid;
	cursor: pointer;
	height: 350px;
		
}


.mainContent33 h2 {
	font-family:Helvetica;
	font-weight:200;
	font-size:18px;
}

.mainContent33 p.description {
	font-family:Georgia;
	font-size:14px;
	font-style:italic;}
	
.mainContent33 span.readMore {
	font-family:Georgia;
	font-size:16px;
	font-style:italic;}
	
.mainContent33 a {
text-decoration: none;
 -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

.mainContent33 a:hover {
text-decoration: none;
color:#404040;}

ul.sidebarNav {
padding:20px;}

ul.sidebarNav li {
display:block;
}

ul.sidebarNav li a {font-family:Helvetica; font-size:18px; padding:20px; color:#333; text-decoration:none;}
	
	.main-internal-sidebar {
	width:220px;
	float:left;
	margin:0;
	}
	
	

/*
* Forum Page
**/

#forum thead a {font-size:16px; text-decoration:none; color:#fff;}

#block-forum-active {
padding:10px;
margin:20px 0 25px 0;
padding-top:20px;
border-top:1px solid #e5e5e5;
margin:15px 0 0 0;}


#block-forum-active a{
font-size:14px;
color: #3845AB;
text-decoration: none;
}

#block-forum-active a:active{
font-size:14px;
color: #3845AB;
text-decoration: none;
}

#block-forum-active a:hover{
font-size:14px;
color: #3845AB;
text-decoration: underline;
}

#block-forum-active a:visited{
font-size:14px;
color: #3845AB;
text-decoration: none;
}


#block-forum-active a:link{
font-size:14px;
color: #3845AB;
text-decoration: none;
}

#block-forum-active ul li a{
font-size:14px;
color: #3845AB;
text-decoration: none;
}


#block-forum-active h2 {
	font-size:16px;}
	
#block-forum-active ul.contextual-links {display:none;}

#block-forum-active ul {list-style:none; list-style-type:none; margin-left:-20px;}


#forum-0 {font-size:14px;}
#forum-0 thead {font-size:16px;}

#forum-0 .name {font-family:Georgia; font-weight:200; text-decoration:none;}
#forum-0 .name a {font-family:Georgia; font-weight:200; text-decoration:none;}
#forum-0 .name a:hover {font-family:Georgia; font-weight:200; text-decoration:underline;}


#forum-0 .description {font-size:12px; padding-left:12px;}




#block-user-login {
padding:10px;
margin:20px 0 25px 0;
border-top:1px solid #e5e5e5;}

#block-user-login h2 {
	font-size:16px;}
	
#block-user-login .item-list ul {font-size:12px; text-decoration:none; list-style:none; list-style-type:none; margin-left:5px;}
#block-user-login .item-list ul li {margin:0;}
#block-user-login .item-list ul li.first {margin-top:-5px;}
#block-user-login .item-list ul li a {font-size:12px; display:inline; text-decoration:none; color:#3845A8}
#block-user-login .item-list ul li a:hover {font-size:12px; display:inline; text-decoration:underline; color:#3845A8}



/**
* Content Tabs
*/

.usual {
 
  color:#111;
  width:600px;
  height:auto;
   }
  
  .usual a {color:blue;}
 
 .usual ul {margin: 0 0 0 -20px;  }
.usual li { list-style:none; float:left; padding:0; }
.usual ul a {
  display:block;
  padding:6px 10px;
  text-decoration:none!important;
  margin:1px;
  margin-left:0;
  font:16px;
  color:#3845AB;
   background:#EBE9E5;
    font-weight:bold;
    -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}

li.views-row a {color:#3845AB;
   background:#EBE9E5;
    font-weight:bold;
    -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;}

li.views-row a:hover {
color:#404040;
  background:#e5e5e5;
  text-decoration:underline;}
  
.usual ul a:hover {
  color:#404040;
  background:#e5e5e5;
  text-decoration:underline;
  }
.usual ul a.selected {
  margin-bottom:0;
  color:white;
  background:#787878;
  border-bottom:1px solid snow;
  cursor:default;
  font-size:16px;
  font-weight:bold;
  }
.usual div {
 clear:left;
 padding-left:5px;
 font-size:16px;
 font-family: Helvetica; 
 font-weight:normal;
}
.usual div a {font-size:14px;}

#usual2 { background:#0A0A0A; border:1px solid #1A1A1A; }
#usual2 a { background:#222; }
#usual2 a:hover { background:#000; }
#usual2 a.selected { background:snow; }
#tabs3 { background:#FF9; }
 
 #all-issued-docs {width:550px; margin: 0 0 0 -12px; min-height:200px; height:auto;}
 #all-received-docs {width:550px; margin: 0 0 0 -12px; min-height:200px; height:auto;}
 #all-marked-nos {width:550px; margin: 0 0 0 -12px; min-height:200px; height:auto;}



h1.side-bar-title {
	font-family:Helvetica;
	font-size:18px;
	padding-top:20px;
	}

ul.sidebar-nav {list-style:none; list-style-type:none; margin-left:-20px; line-height:16px; font-size:14px;}

ul.sidebar-nav li {line-height:16px; font-size:14px;}

div.view-latest-60-sec-briefing {padding:0;}
div.view-60-sec-briefings-by-date {padding:0;}
.view-latest-60-sec-briefing .view-content .briefings-list {list-style:none; list-style-type:none;}
.view-latest-60-sec-briefing .view-content .briefings-list li.views-row a {list-style:none; list-style-type:none; background:transparent; padding:0; font-family:Georgia; font-size:20px; font-weight:200;}

.view-60-sec-briefings-by-date .view-content .briefings-list {list-style:none; list-style-type:none;}
.view-60-sec-briefings-by-date .view-content .briefings-list li.views-row a {list-style:none; list-style-type:none; background:transparent; padding:0; font-family:Georgia; font-size:20px; font-weight:200;}

.60-sec-briefing .views-field-view-node .field-content a {font-size:13px;}
.view-60-sec-briefings-by-date .views-field-view-node .field-content a {font-size:13px;}


div.entry-header p.meta {font-family:Georgia; font-weight:200; font-style:italic; font-size:14px;}



#edit-name {padding:4px; border:2px solid #c9c9c9; font-size:14px;}
#edit-name:focus {background-color:#FFF8C6;}

#edit-pass {padding:4px; border:2px solid #c9c9c9; font-size:14px; }
#edit-pass:focus {background-color:#FFF8C6;}

div#sliderNav {display:none;}



/**
* Board Member Caption Stuff
*/

.caption-top, .caption-bottom {
	color: #ffffff;	
	padding: 1.2em;	
	font-weight: bold;
	font-size: 13px;	
	font-family: arial;	
	cursor: default;
	border: 0px solid #334143;
	background: #000000;
	text-shadow: 1px 1px 0 #202020;
}
.caption-top {
   border-width: 0px 0px 8px 0px;
}
.caption-bottom {
   border-width: 8px 0px 0px 0px;
}
.caption a, .caption a {
	border: 0 none;
	text-decoration: none;
	background: #000000;
	padding: 0.3em;
}
.caption a:hover, .caption a:hover {
	background: #202020;
}
.caption-wrapper {
	float: left;
}
br.c { clear: both; }


div.views-field-field-60-date {margin:10px 0 0 0; font-size:12px; color:#5E5C5C;}
span.date-display-single {font-size:12px;}


/**
* Board Member Profile Page
*/


#board-profile-main-image {float:left; width:auto; margin: 0;}

#board-profile-social-contacts {float:left; width:380px;  margin:0; border:1px solid #e5e5e5; padding:20px; background:#E9F7FE; height:175px;}

#board-profile-text {width:600px; margin: 25px 0 0 0;}


h2.board-profile-name {font-family:helvetica; font-size:22px;}
span.board-profile-job-role {font-family:Georgia; font-style:italic; font-size:18px; font-weight:200; margin-top:-10px;}

a.e-mail-link {padding:3px; background-color:#3845A8; color:#ffffff;}
a.e-mail-link:hover {text-decoration:underline;}

.60-sec-briefing .views-field-title .field-content a {font-family:Georgia;}


.view-60-sec-briefings-by-date .views-field-title .field-content a {font-family:Georgia;}


/**
* Consultation and Surveys
*/

div.view-clone-of-latest-60-sec-briefing {padding:0;}
.view-clone-of-latest-60-sec-briefing .views-field-title .field-content a {font-family:Georgia;}
.view-clone-of-latest-60-sec-briefing .views-field-view-node .field-content a {font-size:13px;}
.view-clone-of-latest-60-sec-briefing .view-content .briefings-list {list-style:none; list-style-type:none;}
.view-clone-of-latest-60-sec-briefing .view-content .briefings-list li.views-row a {list-style:none; list-style-type:none; background:transparent; padding:0; font-family:Georgia; font-size:20px; font-weight:200;}

div.view-consultations-and-surveys-by-top {padding:0;}
.view-consultations-and-surveys-by-top .views-field-title .field-content a {font-family:Georgia;}
.view-consultations-and-surveys-by-top .views-field-view-node .field-content a {font-size:13px;}
.view-consultations-and-surveys-by-top .view-content .briefings-list {list-style:none; list-style-type:none;}
.view-consultations-and-surveys-by-top .view-content .briefings-list li.views-row a {list-style:none; list-style-type:none; background:transparent; padding:0; font-family:Georgia; font-size:20px; font-weight:200;}

div.view-consultations-and-surveys-by-top .view-content .briefings-list ul.briefings-list li {width:550px;}

span.network-news-link a{list-style:none; list-style-type:none; background:transparent; padding:0; font-family:Georgia; font-size:20px; font-weight:200; text-decoration:none; margin:10px;}


/**
* Practice in Action
*/


div.view-latest-practice-in-action {padding:0;}
.view-latest-practice-in-action .views-field-title .field-content a {font-family:Georgia;}
.view-latest-practice-in-action .views-field-view-node .field-content a {font-size:13px;}
.view-latest-practice-in-action .view-content .briefings-list {list-style:none; list-style-type:none;}
.view-latest-practice-in-action .view-content .briefings-list li.views-row a {list-style:none; list-style-type:none; background:transparent; padding:0; font-family:Georgia; font-size:20px; font-weight:200;}
.view-latest-practice-in-action .view-content .briefings-list li.views-row a:hover {list-style:none; list-style-type:none; background:transparent; padding:0; font-family:Georgia; font-size:20px; font-weight:200; color:#3845AB; text-decoration:underline;}



div.view-practice-in-action-by-date {padding:0;}
.view-practice-in-action-by-date .views-field-title .field-content a {font-family:Georgia;}
.view-practice-in-action-by-date .views-field-view-node .field-content a {font-size:13px;}
.view-practice-in-action-by-date .view-content .briefings-list {list-style:none; list-style-type:none;}
.view-practice-in-action-by-date .view-content .briefings-list li.views-row a {list-style:none; list-style-type:none; background:transparent; padding:0; font-family:Georgia; font-size:20px; font-weight:200;}
.view-latest-practice-in-action-by-date .view-content .briefings-list li.views-row a:hover {list-style:none; list-style-type:none; background:transparent; padding:0; font-family:Georgia; font-size:20px; font-weight:200; color:#3845AB; text-decoration:underline;}

/**
* European Projects
*/





div.view-european-projects  {padding:0;}
.view-european-projects  .views-field-title .field-content a {font-family:Georgia;}
.view-european-projects  .views-field-view-node .field-content a {font-size:13px;}
.view-european-projects  .view-content .briefings-list {list-style:none; list-style-type:none;}
.view-european-projects  .view-content .briefings-list li.views-row a {list-style:none; list-style-type:none; background:transparent; padding:0; font-family:Georgia; font-size:20px; font-weight:200;}
.view-european-projects  .view-content .briefings-list li.views-row a:hover {list-style:none; list-style-type:none; background:transparent; padding:0; font-family:Georgia; font-size:20px; font-weight:200; color:#3845AB;}

/**
* Network news
*/

.view-network-newspaper-latest  .views-field-title .field-content a {font-family:Georgia;}
.view-network-newspaper-latest   .views-field-view-node .field-content a {font-size:13px;}
.view-network-newspaper-latest  .view-content .briefings-list {list-style:none; list-style-type:none;}
.view-network-newspaper-latest .view-content ul li {display:block; width:400px;}
.view-network-newspaper-latest   .view-content .briefings-list li.views-row a {list-style:none; list-style-type:none; background:transparent; padding:0; font-family:Georgia; font-size:20px; font-weight:200;}
.view-network-newspaper-latest   .view-content .briefings-list li.views-row a:hover {list-style:none; list-style-type:none; background:transparent; padding:0; font-family:Georgia; font-size:20px; font-weight:200; color:#3845AB;}




/**
* Pricing Tables for Membership Page
*/

.pricing-table-holder { padding-bottom: 40px; background: url(images/bg/pricing-table-shadow.png) 50% 100% no-repeat; }
.pricing-table-holder a {color:white; text-shadow: none; text-decoration:none; font-weight:200; font-size:18px; font-family:Georgia; text-align:center;}
table.pricing-1 { background-position: 0 0; background-position: 0 bottom; background-repeat: repeat-x; border-collapse: collapse; -webkit-box-shadow: #555 0 1px 1px; -moz-box-shadow: #555 0 1px 1px; box-shadow: #555 0 1px 1px; border-top: none; -webkit-border-radius: 4px; border-radius: 4px; -moz-border-radius: 4px; margin: 30px 0;  padding: 0; width: 100%; font-size: 1.2em;color: #191919; }
table.pricing-1 > tbody > tr > * { margin: 0;padding: 0;}
table.pricing-1 table.column { margin: 0; border: none; padding: 0; position: relative; }
.idd { position: relative; z-index: 9999; }
table.pricing-1 table.column tr > * { padding: 10px 15px; text-align: left; color: #fff; border-left: 1px solid #3845A8; text-shadow: #000 1px 1px 0;text-shadow: rgba(0,0,0,.4) 1px 1px 0;
}
table.pricing-1 .price { font-size: 1.6em; font-family: diavlo-light, Arial, Helvetica, sans-serif; text-align: center !important}
table.pricing-1 .price strong {font-family: diavlo-medium, Arial, Helvetica, sans-serif; font-size: 2.2em; line-height: 1em;}
 { border: 2px solid #aa173b; }
table.pricing-1 table.column tr > th { background-color: #E9F7FE; border-left: none; font-size: 1.5em; color: #191919;text-align: center; padding: 15px; font-family: diavlo-light, Arial, Helvetica, sans-serif; border-bottom: 1px solid #f3e6e9; border-top: none !important; text-shadow: #fff 1px 1px 1px;
border-left: 1px solid rgba(0,0,0,.05);}
table.pricing-1 td:first-child table.column tr > th { border-left: none; }

table.pricing-1 .color1 { background-color: #3845A8; 
}
table.pricing-1 .color1 tr > * { border-top: 1px solid #8e122c; border-bottom: 1px solid #6e0e22; border-top: 1px solid rgba(255,255,255,0.07); border-bottom: 1px solid rgba(0,0,0,.15);}
table.pricing-1 .color2 { background-color: #3845A8; 
}
table.pricing-1 .color2 tr > * { border-top: 1px solid #7b0e24; border-bottom: 1px solid #5a0b1b; border-top: 1px solid rgba(255,255,255,0.07); border-bottom: 1px solid rgba(0,0,0,.15);}
table.pricing-1 .color3 { background-color: #3845A8; 
}
table.pricing-1 .color3 tr > * { border-top: 1px solid #6b0b20; border-bottom: 1px solid #4f0818; border-top: 1px solid rgba(255,255,255,0.07); border-bottom: 1px solid rgba(0,0,0,.15);}

table.pricing-1 table.column.current { border: 2px solid #82122d ; margin-top: -2px; margin-bottom: -2px; margin-left:-2px; margin-right:-2px; z-index: 999; position: relative;}
table.pricing-1 table.column.current th { font-family: diavlo-bold, Arial, Helvetica, sans-serif}

.js .pricing-table-button-holder { display: none; }
.js .current .pricing-table-button-holder { display: block; }
.pricing-table-button-holder { position: relative; margin: 0 -15px;}
.pricing-table-button { background-color: #50a9ca; color: #fff; font-family: diavlo-black, Arial, Helvetica, sans-serif; text-transform: uppercase; position: absolute; bottom: -59px; left: -2px; width: 100%; margin: 0; padding: 15px 0; text-align: center; font-size: 1.9em; height: 15px; max-height: 15px; : 2px solid #82122d;border-top: none;}
.js .pricing-table-button {border: 2px solid #82122d;border-top: none;}

.pricing-table-holder .addthis { margin-top: -10px; margin-bottom: 10px;}

.pricing-1 .icon { margin-right: 5px; margin-bottom: -3px; }
table.js .tooltip { display: block; font-size: .8em; line-height: 1em;}
table .tooltip span { background-image: none; padding-left: 20px;}


div.submitted {display:none;}
div.model {display:none;}
div.list-price {display:none;}
div.list-price {display:none;}
div.cost {display:none;}
div.weight {display:none;}
div.dimensions {display:none;}



p.right a {
 -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
			}

p.right a:hover {color:#191919; text-decoration:none;}


/**
* Fancy Buttons - Courtesy of Twitter Bootstrap
*/


.btn.danger,
.alert-message.danger,
.btn.danger:hover,
.alert-message.danger:hover,
.btn.error,
.alert-message.error,
.btn.error:hover,
.alert-message.error:hover,
.btn.success,
.alert-message.success,
.btn.success:hover,
.alert-message.success:hover,
.btn.info,
.alert-message.info,
.btn.info:hover,
.alert-message.info:hover {
  color: #ffffff;
}
.btn.danger,
.alert-message.danger,
.btn.error,
.alert-message.error {
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.success, .alert-message.success {
  background-color: #57a957;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -ms-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(top, #62c462, #57a957);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #57a957 #57a957 #3d773d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.info, .alert-message.info {
  background-color: #339bb9;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(top, #5bc0de, #339bb9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #339bb9 #339bb9 #22697d;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
text-decoration:none;
font-weight:bold;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn:focus {
  outline: 1px dotted #666;
}
.btn.primary {
  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn[disabled] {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.large {
  font-size: 15px;
  line-height: normal;
  padding: 9px 14px 9px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.small {
  padding: 7px 9px 7px;
  font-size: 11px;
}




/**
* NEWS ITEMS
*/

#block-views-news-list-block-1 h2.block-title { display:none;}
#block-views-news-list-block-1 h2{ font-family: Georgia; font-weight:200; font-size:22px; text-decoration:none;}
#block-views-news-list-block-1 h2 a{ font-family: Georgia; font-weight:200; font-size:22px; text-decoration:none;}
ul li.node-readmore {display:none;}
ul li.comment-add {display:none;}
.view-news-list .views-row {padding-bottom:30px padding-top:30px; border-bottom:1px solid #e0e0e0;}

/**
* VIOLENT CRIME ITEMS
*/

#block-views-violent-crime-list-block-1 h2.block-title { display:none;}
#block-views-violent-crime-list-block-1 h2{ font-family: Georgia; font-weight:200; font-size:22px; text-decoration:none;}
#block-views-violent-crime-list-block-1 h2 a{ font-family: Georgia; font-weight:200; font-size:22px; text-decoration:none;}
ul li.node-readmore {display:none;}
ul li.comment-add {display:none;}
.view-violent-crime-list .views-row {padding-bottom:30px padding-top:30px; border-bottom:1px solid #e0e0e0;}


/**
 *   Masterclass Presentatons Downloads Page
 */
 
 .view-masterclass-presentations-2011 .view-content .views-row {margin:10px 0; font-size:16px;}

/**
 *  PCC Downloads Page
 */
 
 .view-pcc-events-view .view-content .views-row {margin:10px 0; font-size:16px;}


/*div.error {display:none;}*/

div#ticker-tape {width:990px; height:30px; padding:10px; border:2px solid #e0e0e0; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; -moz-box-shadow: 0 0 5px #888; -webkit-box-shadow: 0 0 5px #888; box-shadow: 0 0 5px #888; margin:0 auto; font-size:16px; }

div#edit-actions input {width:auto; padding:5px; color:white; height:35px;}
form#user-register-form input {border:2px solid #c9c9c9; padding:10px; font-size:14px; color:#404040}
form#user-register-form select {border:2px solid #c9c9c9; padding:10px; font-size:14px; color:#404040;}
form#user-register-form .form-submit {color:white;}
form#user-register-form label {font-size:14px;}
.description {font-size:11px;}

form#user-register-form input:focus {background-color:#FFF8C6;}

input#edit-submit {width:auto; padding:5px; color:white; height:35px;}


#edit-field-org-type-und-0-value {display:none;}
#field-org-type-add-more-wrapper {display:none;}
#edit-field-area {display:none;}
#edit-field-country {display:none;}




/**
* Checkout
*/


#uc-cart-checkout-form {font-size:16px;}


/**
* Simple News
*/
div#block-simplenews-12 p {font-size:16px;}
div#block-simplenews-12 h2 {display:none;}
#block-simplenews-12 #edit-mail {border:2px solid #c9c9c9; padding:10px; font-size:14px; color:#404040; width:175px;}
div#block-simplenews-12  .issues-link {display:none;}
div#block-simplenews-12 .feed-icon {display:none;}


.preview {width:100%;}


.field-name-field-simplenews-term {display:none;}


/**
* Search Bar
*/

form#search-block-form {
	height: 30px;
	margin-top:-20px;
	margin-left:-100px;
}


#edit-submit--4 {
	font-size:12px;
	padding: 0;
}

div#edit-actions input[type="submit"] {
width: auto;
color: white;
margin-left:-3px;
height:25px;
}

#edit-submit--2 {
	width:175px;
}


div.error {
	display:none;
}



#comments h2 {
	padding-left:10px;
}

fieldset#edit-comment-body-und-0-format {
	display:none;
}